@import url('//fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&family=Sora&display=swap');
*{
    margin:0;
    padding: 0;
}

body {
    margin: 0 10px;
    background-color: azure;
}

.cart_payment {
    background-color: #2b2926;
    margin: auto;
    top: 120px;
    max-width: 400px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    color: white;
}
.mealkit_cart {
    display: flex;
    justify-content: start;
    margin: auto;
    text-align: left;
}

.payment {
    background-color: #2b2926;
    margin:150px auto;
    max-width: 400px;
    padding: 25px;
    position: relative;
    border-radius: 10px;
    color: white;
}

.cart_payment h1 {
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.payment h2 {
    text-align:left;
    font-family: 'Open Sans', sans-serif;
}

.cart_payment h3 {
    margin-top: 20px;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
}

.mealkit_total {
    display: block;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}
.mealkit_totalprice {
    float: right;
    display: block;
}

.mealkit_package {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.mealkit_title {
    margin-top: 20px;
    margin-right: 75px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    padding-left: 10px;

}
.mealkit_price {
    margin-top: 20px;
;
    
}


.form .label {
    display: block;
    padding: 10px 0px;
    font-family: 'Open Sans', sans-serif;
}
.form .input {
    padding: 10px 0 10px;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}
.card_info{
    border-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card_data{
    width: 40%;
}

.space{
    margin-bottom: 3px;
}

.icon-relative {
    position: relative;
}

.icon-relative .fa{
    position: relative;
    bottom: 30px;
    left: 15px;
    font-size: 20px;
    color: #2b2926;
}

.form .button_pay input {
    margin-right: 20px;
    margin-left: 45px;
    padding: 10px;
    width: 80%;
    font-size: 15px;
    text-align: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.button_remove input {
    margin-right: 20px;
    margin-left: 45px;
    padding: 10px;
    width: 20%;
    font-size: 10px;
    text-align: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.method_radio {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin: 5px;
}


.meal_pic {
margin-top: 20px;
border-radius: 2px;
border: 1px solid azure;
width: 75px;
height: 75px;
object-fit: cover;
}


